body {
    width: 100vw;
    
    background-color: gainsboro;
    background-size: cover;
}


.player {
    left: 50%;
    bottom: 0%;
    
    height: 87%;
}

.desk {
/*    transform: scaleX(-1) translate(50%, 0);*/
    
    left: 45%;
    bottom: -10%;
    
    height: 37%;
    
    transform: translate(-45%, 0);
}

.comp {
    left: 45%;
    bottom: 5%;
    
    height: 80%;
    
    transform: translate(-45%, 0);
}