body {
    width: 100vw;
    
    background-image: url(../assets/cutscene-3/cutscene_fighting_background_1528x1080.png);
    background-size: cover;
}

@keyframes bully {
    0% { left: 70%; }
    10% {  }
    20% { left: 60%; }
    30% {  }
    40% { left: 65%; }
    50% {  }
    60% { left: 60%; }
    70% {   }
    70% { left: 65%; }
    80% {  }
    100% { left: 70%; }
}

@keyframes bully1 {
    0% { visibility: visible; }
    10% { visibility: hidden; }
    20% { visibility: hidden; }
    30% { visibility: hidden; }
    40% { visibility: hidden; }
    50% { visibility: hidden; }
    60% { visibility: hidden; }
    70% { visibility: hidden; }
    80% { visibility: hidden; }
    90% { visibility: hidden; }
    100% { visibility: visible; }
}

/*
@keyframes bully2 {
     0% { visibility: hidden; }
    10% { visibility: hidden; }
    20% { visibility: hidden; }
    30% { visibility: hidden; }
    40% { visibility: hidden; }
    50% { visibility: hidden; }
    60% { visibility: hidden; }
    70% { visibility: hidden; }
    80% { visibility: hidden; }
    90% { visibility: hidden; }
    100% { visibility: hidden; }
}
*/

@keyframes bully3 {
    0% { visibility: hidden; }
    10% { visibility: hidden; }
    20% { visibility: visible; }
    30% { visibility: visible; }
    40% { visibility: visible; }
    50% { visibility: hidden; }
    60% { visibility: hidden; }
    70% { visibility: hidden; }
    80% { visibility: visible; }
    90% { visibility: hidden; }
    100% { visibility: hidden; }
}

@keyframes bully4 {
    0% { visibility: hidden; }
    10% { visibility: hidden; }
    20% { visibility: hidden; }
    30% { visibility: hidden; }
    40% { visibility: hidden; }
    50% { visibility: hidden; }
    60% { visibility: visible; }
    70% { visibility: hidden; }
    80% { visibility: hidden; }
    90% { visibility: hidden; }
    100% { visibility: hidden; }
}

.bully, .bully > img {
    position: fixed;
    
    transform: translate(-50%, 0);
}

.bully {
    left: 70%;
    bottom: -11%;
    
    height: 70%;
    
    -webkit-animation-name: bully;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 2;
    animation-name: bully;
    animation-duration: 2s;
    animation-iteration-count: 2;
}

.bully.fighting {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.bully > img {
/*
    left: inherit;
    bottom: inherit;
*/
    
    height: 100%;
    
    visibility: hidden;
    
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 2;
    animation-duration: 2s;
    animation-iteration-count: 2;
}

.bully.fighting > img {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.bully > img:nth-child(1) {
    visibility: visible;
    
    -webkit-animation-name: bully1;
    animation-name: bully1;
}

/*
.bully > img:nth-child(2) {
    -webkit-animation-name: bully2;
    animation-name: bully2;
}
*/

.bully > img:nth-child(3) {
    -webkit-animation-name: bully3;
    animation-name: bully3;
}

.bully > img:nth-child(4) {
    -webkit-animation-name: bully4;
    animation-name: bully4;
}

@keyframes friend {
    0% { left: 30%; }
    5% {  }
    15% { left: 40%; }
    25% {  }
    35% { left: 35%; }
    45% {  }
    55% { left: 40% }
    65% {   }
    75% { left: 25%; }
    85% {  }
    100% { left: 30%; }
}

@keyframes friend1 {
    0% { visibility: visible; }
    15% { visibility: hidden; }
    25% { visibility: hidden; }
    35% { visibility: hidden; }
    45% { visibility: hidden; }
    55% { visibility: hidden; }
    65% { visibility: hidden; }
    75% { visibility: hidden; }
    85% { visibility: hidden; }
    95% { visibility: visible; }
    100% { visibility: visible; }
}

@keyframes friend2 {
    0% { visibility: hidden; }
    15% { visibility: hidden; }
    25% { visibility: hidden; }
    35% { visibility: hidden; }
    45% { visibility: hidden; }
    55% { visibility: hidden; }
    65% { visibility: hidden; }
    75% { visibility: hidden; }
    85% { visibility: hidden; }
    95% { visibility: hidden; }
    100% { visibility: hidden; }
}

@keyframes friend3 {
    0% { visibility: hidden; }
    15% { visibility: hidden; }
    25% { visibility: hidden; }
    35% { visibility: hidden; }
    45% { visibility: hidden; }
    55% { visibility: hidden; }
    65% { visibility: hidden; }
    75% { visibility: visible; }
    85% { visibility: hidden; }
    95% { visibility: hidden; }
    100% { visibility: hidden; }
}

@keyframes friend4 {
    0% { visibility: hidden; }
    15% { visibility: hidden; }
    25% { visibility: visible; }
    35% { visibility: visible; }
    45% { visibility: visible; }
    55% { visibility: visible; }
    65% { visibility: hidden; }
    75% { visibility: hidden; }
    85% { visibility: hidden; }
    95% { visibility: hidden; }
    100% { visibility: hidden; }
}

.friend, .friend > img {
    position: fixed;
    
    transform: translate(-50%, 0);
}

.friend {
    left: 30%;
    bottom: -11%;
    
    height: 70%;
    
    -webkit-animation-name: friend;
    -webkit-animation-duration: 2s;
    animation-name: friend;
    animation-duration: 2s;
    
    
    -webkit-animation-iteration-count: 2;
    animation-iteration-count: 2;
}

.friend.fighting {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.friend > img {
/*
    left: inherit;
    bottom: inherit;
*/
    
    height: 100%;
    
    visibility: hidden;
    
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 2;
    animation-duration: 2s;
    animation-iteration-count: 2;
}

.friend.fighting > img {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.friend > img:nth-child(1) {
    visibility: visible;
    
    -webkit-animation-name: friend1;
    animation-name: friend1;
}

/*
.friend.fighting > img:nth-child(2) {
    -webkit-animation-name: friend2;
    animation-name: friend2;
}
*/

.friend > img:nth-child(3) {
    -webkit-animation-name: friend3;
    animation-name: friend3;
}

.friend > img:nth-child(4) {
    -webkit-animation-name: friend4;
    animation-name: friend4;
}

.layer {
    -webkit-transition: left 2s;
    transition: left 2s;
}

.player {
    left: 50%;
    bottom: -11%;
    
    height: 70%;
}

.player.fighting {
    left: -30%;
}

.bully.layer.look {
    transform: scaleX(-1) translate(50%, 0);
}

.bully.run, .friend.run {
    left: -30%;
}

.cop {
    left: 70%;
    bottom: -11%;
    
    height: 70%;
    
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
}

.cop.inactive {
    left: 130%;
}