/*
.bg {
    left: 50%;
    bottom: 0;
    
    height: 100%;
}
*/

body {
    width: 100vw;
    
    background-image: url(../assets/cutscene-6/Background.png);
    background-size: cover;
}

.fc {
    transform: translate(-90%, 0);
    
    left: 50%;
    bottom: 60%;
    
    height: 35%;
}

.npc {
    left: 35%;
    bottom: 5%;
    
    height: 83%;
}

.desk {
    left: 55%;
    bottom: -7%;
    
    height: 29%;
}

.player {
    left: 70%;
    bottom: -7%;
    
    height: 85%;
}