@keyframes blow-up-cloud {
    0% { width: 30% opacity: 0;}
    40% { width: 40% ;  opacity: 1; }
    41% { width: 40% ; opacity: 1; }
    100% { width: 200% ; }
}

@keyframes blow-up-school {
    0% { width: 12%; opacity: 0;}
    40% { width: 16%;  opacity: 1; }
    41% { width: 16%; opacity: 1; }
    100% { width: 60%; }
}

@keyframes blow-up-door {
     0% { width: 12%; opacity: 0;}
    40% { width: 16%;  opacity: 0; }
    41% { width: 16%; opacity: 1; }
    100% { width: 60%; }
}

body {
    width: 100vw;
    
    background-image: url(../assets/cutscene-1/Background.png);
/*    background-size: cover;*/
}

@keyframes player {
    from {left: 70%;}
    to {left: 75%;}
}

.player {
    left: 70%;
    bottom: -45%;
    
    height: 100%;
    
    animation-name: player;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.cloud, .school {
    
    visibility: hidden;
    
    left: 50%;
    top: 50%;
    
    position: fixed;
    
    transform: translate(-50%, -50%);
}

.cloud {
    width: 30%;
}
.school {
    width: 12%;
}

.active.cloud {
    visibility: visible;
    
    animation-name: blow-up-cloud;
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.active.school {
    visibility: visible;
    
    animation-name: blow-up-school;
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.active.school.open {
    animation-name: blow-up-door;
}
