body {
    width: 100vw;
    
    background-image: url(../assets/cutscene-7/Background.png);
    background-size: cover;
}

@keyframes paper {
    from { bottom: 120%; }
    to { bottom: 55%; }
}

.paper, .signature {
    left: 50%;
    bottom: 75%;
    
    width: 60%;
    
    animation-name: paper;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.signature { 
    width: 40%;
    transform: translate(-50%, 10%);
}

.signature.hidden {
    visibility: hidden;
}

.id {
    left: 20%;
    bottom: -5%;
    
    width: 40%;
}

.lid {
    height: 50%;
    
    opacity: 1;
    
    left: 50%;
    width : 100%;
    
    background-color: black;
    
    transition-property: all;
    transition-duration: 3.5s;
    transition-delay: 1s;
    transition-timing-function: ease-in;
}

.lid.hidden {
    height: 0;
    
    opacity: 1;
}

.lid.upper {
    top: 0;
}

.lid.lower {
    bottom: 0;
}