body {
    width: 100vw;
    height: 100vh;
    
    background-image: url(./assets/index-city.png);
    background-size: cover;
    background-position: center;
}

@keyframes papers {
    from { top: -100%; }
    to { top: 6%; }
}

.papers {
    top: -100%;
    height: 90%;
    left: 50%;
    
    animation-name: papers;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.paper {
    border-width: thin;
    border-color: black;
    border-style: solid;
    
    width: 35%;
    
    background-color: #f9f9f9;
    
    height: 85%;
    
    
}

.left.active {
    transform: rotate(3deg) translate(-50%, 0);
}

.right.active {
    transform: rotate(-4deg) translate(-50%, 0);
}

.paper > * {
    display: block;
    text-align: center;
    
/*    transform: translate(0, 50%);*/
}

.paper > p {
    margin: 1rem 1rem;
    
    margin-top: 2rem;
}

.envelope {
    bottom: -50%;
    height: 70%;
    left: 70%;
}

.envelope.active {
    bottom: -3%;
}

.papers > div {
    margin: auto;
    
    width: 60%;
    
    overflow: hidden;
}

.papers > div > img {
    float: left;
    
    width: 33%;
}